.inputBox{
  border: 10px solid;
  padding: 10px;
}

form > p > input {
  background-color: yellow;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
}

form > p:last-child > input {
  width: 100%;
}